# Exclude specific files
Feature list.txt
Collecting ads data/Misc.py
Collecting ads data/real-estate-project-445516-83dc50b692bc.json
Collecting ads data/scraped_links.csv
Fabric/Lakehouse Files/ads_data_2025_11(1).csv

# Exclude specific folders and their contents
venv/
.idea/
Collecting advertiser data/Data/
Collecting ads data/ads_data/
